bower_components
node_modules
*.log
.DS_Store
bundle.js
app/bundle.js
server/data/all_reviews.json
server/data/all_hotels.json
*.pyc
server/documents/**/*.txt
hotel_reviews_fixed.json.jsb
**/*.png
**/*.jpg
*.png
*.jpg
