flask==0.11.1
itsdangerous==0.24
Werkzeug==0.11.10
Jinja2==2.8
click==6.6
flask-restful==0.3.5
six==1.10.0 
pytz==2016.6.1
aniso8601==1.1.0
flask-cors==3.0.0
numpy==1.11.1
scipy==0.13.3
smart-open==1.3.3
gensim==0.13.1
tornado==4.4.1
backports.ssl-match-hostname==3.5.0.1
singledispatch==3.4.0.3
certifi==2016.8.8
backports-abc==0.4
langdetect==1.0.6
stop-words==2015.2.23.1
nltk==3.2.1